/************************
 GENERAL
*************************/

$menu-color   : grey;
$menu-hover   : darkgrey;
$sort-color   : lightgrey;
$sort-hover   : slategrey;
$stream-text  : #fff;
$offline-text : lighten(red, 20%);

$test-color-1 : brown;

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a,
a:link,
a:hover {
  text-decoration: none;
  color: black;
}

.wrapper {
  width: 100%;
}

%my-flex {
  display: flex;
  display: -webkit-flex;
}



/************************
 NAVBAR
*************************/

.my-navbar {
  @extend %my-flex;
  flex-direction: column;
  & h1 {
    margin: 1rem 0;
    text-align: center;
  }
  &-menu {
    @extend %my-flex;
    background-color: $menu-color;
    align-items: center;
    &-item {
      flex-grow: 1;
      a {
        text-align: center;
        font-size: 1.4em;
        padding: 15px;
        display: block;
        min-width: 70px;
        &:hover {
          background-color: $menu-hover;
        }
      }
    }
  }
}



/************************
 SORT BUTTONS
*************************/

.my-sort-buttons {
  @extend %my-flex;
  background-color: $sort-color;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  li {
    padding: 15px;
    flex-grow: 1;
    &:hover {
      background-color: $sort-hover;
    }
  }
  .glyphicon {
    font-size: 1.6em;
  }
}



/*=======================
 STREAMS
=======================*/

.stream-list {
  @extend %my-flex;
  flex-wrap: wrap;
  .stream {
    color: $stream-text;
    position: relative;
    width: 49%;
    margin: 0.5%;
    img {
      width: 100%;
    }
    &-description {
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0;
      width: 100%;
      h4 {
        text-align: center;
      }
    }
  }
}

.offline {
  color: $offline-text;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}



/************************
 MEDIA QUERIES
*************************/
@media (min-width: 600px) {
  // LIST
  .stream-list .stream {
    width: 32.33%;
  }
}

@media (max-width: 768px) {
  .my-navbar {
    margin-bottom: 3px;
  }

  .my-sort-buttons {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 999;
  }
}

@media (min-width: 769px) {
  // MAIN
  .wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  // NAV BLOCK
  .my-navbar {
    flex-direction: row;
    justify-content: space-between;
    & h1 {
      margin: 0;
    }
  }
  // SORT BUTTONS
  .my-sort-buttons {
    margin-bottom: 3px;
  }
}

@media (min-width: 1025px) {
  // NAV BLOCK
  .my-navbar-input {
    margin: 0 4em;
  }
  // LIST
  .stream-list .stream {
    width: 24%;
  }
}
