/************************
 GENERAL
*************************/

$white        : #fff;
$black        : #000;

$text-text    : #212121;
$text-ui      : darken($white, 60%);
$text-hover   : $white;
$text-offline : lighten(red, 20%);

$nav-header   : #E64A19;
$nav-buttons  : darken(#FFCCBC, 20%);
$nav-icons    : #FF5722;

$stream-card  : rgba(0, 0, 0, 0.7);
$stream-table : #f0f0f0;

$divider-color: rgba(0,0,0, 0.14);


body {
  font-family: 'Bungee', cursive;
  font-family: 'Muli', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a,
a:link,
a:hover {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

%my-flex {
  display: flex;
  display: -webkit-flex;
}

/************************
 NAVBAR
*************************/

.my-navbar {
  @extend %my-flex;
  flex-direction: column;
  position: relative;
  &-header {
    h1 {
      margin: 0;
      font-size: 1.7em;
      background-color: $nav-header;
      color: $text-text;
      text-align: center;
      align-self: center;
    }
  }
  &-menu {
    @extend %my-flex;
    background-color: $nav-buttons;
    align-items: center;
    &-item {
      flex-grow: 1;
      a {
        color: $text-ui;
        position: relative;
        // background: url('./img/bg-circle.png') no-repeat;
        // background-size: 1% 1%;
        // background-position: left left;
        text-align: center;
        font-size: 1.2em;
        padding: 10px;
        height: 100%;
        display: block;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
        // transition: color .3s ease, background-size 2s ease-in;
        // -moz-transition: color .3s ease, background-size 2s ease-in;
        // -ms-transition: color .3s ease, background-size 2s ease-in;
        // -o-transition: color .3s ease, background-size 2s ease-in;
        // -webkit-transition: color .3s ease, background-size 2s ease-in;
        overflow: hidden;
        &:hover {
          color: $text-hover;
        }
        // &:active {
        //   background-size: 5000% 5000%;
        // }
        // &.enlarge {
        //   background-size: 5000% 5000%;
        // }
        &.selected {
          color: $text-hover;
        }
      }
    }
  }
}

.new-element {
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 1;
  transition: all .3s ease-out;
  transform-origin: center;
}

.new-element.expanded {
  transform: scale(100,100);
  opacity: 0;
}

/************************
 SORT BUTTONS
*************************/

#my-sort-buttons {
  @extend %my-flex;
  background-color: $nav-icons;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  li {
    padding: 10px;
    // border-bottom: 3px solid $nav-icons;
    flex-grow: 1;
    cursor: pointer;
    &:hover {
      // border-bottom: 3px solid yellow;
    }
    &.selected {
      // border-bottom: 3px solid yellow;
    }
    &:hover .glyphicon {
      color: $text-hover;
    }
    &.selected .glyphicon {
      color: $text-hover;
    }
  }
  .glyphicon {
    color: $text-ui;
    font-size: 1.4em;
    transition: color .3s ease;
  }
}

/*=======================
 STREAMS
=======================*/

.stream-list {
  @extend %my-flex;
  flex-wrap: wrap;
  margin-top: 3px;
  .stream {
    background-color: $stream-card;
    color: $text-hover;
    box-sizing: border-box;
    position: relative;
    width: 31.33%;
    margin: 1%;
    img {
      width: 100%;
    }
    &-description {
      bottom: 0;
      width: 100%;
      h4 {
        text-align: center;
        font-weight: bold;
        font-size: .8em;
      }
      p {
        text-align: center;
        margin: 1rem;
        font-size: .7em;
      }
    }
  }
}

.stream-list.list {
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 0;
  .stream {
    @extend %my-flex;
    background-color: $stream-table;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid $divider-color;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      border: 1px solid $divider-color;
      border-radius: 50%;
      margin: 0 2rem 0 1rem;
    }
    &-description {
      @extend %my-flex;
      color: $text-text;
      position: relative;
      justify-content: space-between;
      align-items: center;
      h4 {
        margin: 0;
      }
      p {
        margin: 0 1rem;
      }
    }
  }
}

.offline {
  color: $text-offline;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/************************
 MEDIA QUERIES
*************************/
@media (min-width: 600px) {
  // LIST
  .stream-list .stream {
    width: 23%;
  }
}

@media (max-width: 768px) {
  // NAV
  .my-navbar {
    &-menu.fixed {
      position:fixed;
      top: 0;
      width: 100%;
      max-width: 1000px;
      z-index: 999;
    }
    a {
      min-width: 70px;
    }
  }
  // SORT BUTTONS
  #my-sort-buttons {
    position: fixed;
    margin-bottom: 0;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 899;
  }
  // lIST
  .stream {
    h4 {
      font-size: 1.7rem;
    }
  }
  // FOOtER
  .footer {
    margin-top: 45px;
  }
}

@media (min-width: 769px) {
  // GLOBAL
  body {
    margin-top: 87px;
  }
  // MAIN
  .wrapper {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
  // NAV
  .my-navbar {
    flex-direction: row;
    justify-content: space-between;
    //== fixed navbar
    position: fixed;
    top: 0;
    width: inherit;
    max-width: 1000px;
    z-index: 999;
    //== end of fixed navbar
    &-header {
      flex-grow: 1;
      h1 {
        margin: 0;
        padding: 8px 20px;
        background-color: darken(#FFCCBC, 20%);
        text-align: left;
      }
    }
    a {
      padding: 10px 20px 9px;
    }
  }
  // SORT BUTTONS
  #my-sort-buttons {
    margin-bottom: 0;
    position: fixed;
    width: inherit;
    max-width: 1000px;
    top: 42px;
    z-index: 999;
  }
  // LIST
  .stream-list {
    margin-top: 3px;
  }
}

@media (min-width: 1000px) {
  // LIST
  .stream-list {
    margin-top: 3px;
  }
  .stream-list .stream {
    width: 18%;
  }
}
